*{
    margin: 0;
    padding: 0;
    max-width: 100vh;
}
body {
    background: url(assets/home_background_blurr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
form h1{
    padding-left: 25%;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 8px red;
    font-size: 64px;
    background-color: rgba(255, 0, 0, 25%);
    border-radius: 20px;
}
.loginbox{
    justify-content: center;
}
.loginbox form{
    position: fixed;
    background-color: rgba(0, 0, 0, 80%);
    box-shadow: 4px 4px 16px orangered;
    border-radius: 20px;
    justify-content: space-around;
    align-content: center;
    margin-top: 8%;
    margin-left: 36%;
    width: 450px;
    height: 450px;
    padding: 20px;
}
form label{
    /* background-color: rgba(255, 255, 255, 25%); */
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 8px red;
    margin-left: 10px;
}
form input{
    width: 390px;
    height: 40px;
    font-weight: bold;
    padding-bottom: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 25%);
    box-shadow: 4px 4px 16px white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}
input::placeholder{
    color: white;
    font-weight: bold;
    opacity: 65%;
}
#submit{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    margin-left: 35%;
    color: white;
    font-weight: bold;
    padding-top: 5px;
}
#submit:hover{
    color: red;
}