@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('assets/home_background_blurr.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
    left: 0;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    padding: 20px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 4s;
}
.text-box {
    padding: 30px 30px;
    position: relative;
    background-color: lightgray;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 4px 4px 16px black;
}
.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}

.container img{
    position: absolute;
    width: 60px;
    border-radius: 50%;
    right: -30px;
    z-index: 10;
}
.right-container img{
    left: -30px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: lightgrey;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid lightgrey;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid lightgrey;
    left: -15px;
}